{# empty Twig template #}

{% if view_side == 'frontend' %}
    <h1 class="component-header"> Transactions </h1>
{% endif %}

<form id="{{ main_form_id }}" action="{{ generate_url('admin.payments.transactions', {'view':'commission', 'user_id':user_id}) }}" method="post" >
    <div class="table-responsive">
        <table class="table table-condensed table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th align="left">Description</th>
                    <th>Type</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Date</th>
                    <th>Money In(USD)</th>
                    <th>Money Out(USD)</th>
                </tr>
            </thead> 
            <tbody>

                {% if items|length>0 %}

                    {% for item in items %}
                        <tr >
                            <td>{{ item.id }}</td>
                            <td>{{ item.description }}</td>
                            <td>{{ item.type }}</td>
                            <td>{{ item.trans_name }} ({{ item.trans_username }})</td>
                            <td>{{ item.own_name }} ({{ item.own_username }})</td>
                            <td>{{ item.date_created ? item.date_created|date('d M Y H:i:s') }}</td>
                            <td align="right">{{ item.credit ? item.credit|number_format(2) }}</td>
                            <td align="right">{{ item.debit ? item.debit|number_format(2) }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>

    <div class="clearfix"></div>

    {% include "items.pagination.twig"%}

    {% include "form.hidden.twig" %}

    {{ forms.input('_token' ) }} 

</form>
