{# empty Twig template #}

{% import "form.macro.twig" as forms %}
<form id="admin_payments_transactions_edit" action="{{ generate_url('admin.payments.transactions.save') }}" class="form-horizontal" method="post" role="form" enctype="multipart/form-data">
    <br>
    <div class="col-sm-12">

        <div class="transaction-detail-form">

            <div class="form-group transaction-group">
                <label for="user_id" class="col-sm-3 control-label">User</label>
                <div class="col-sm-9 kazicode-form-field ">
                    <b>{{ user.name }} ({{ user.username }}) {{ user.email }}</b>
                </div>
                {{ forms.input('user_id', 'hidden', user.id) }}
            </div>


            {{ forms.input('description', 'textarea', null, 'Description') }}
            {{ forms.input('amount', 'text', null, 'Amount') }}

        </div>

        {{ forms.input('id', 'hidden', item.id) }}

        <br>
        <br>
    </div>

    <input id="main_form_id" class="main_form_id" name="view" value="admin_payments_transactions_edit" type="hidden">

    {{ forms.input('_token' ) }} 

</form>