{# empty Twig template #}

{% import "form.macro.twig" as forms %}

{{ set_assets('applications/Payments/assets/css/payment.css') }}

{% set description = 'Deposit money to you account.' %}

<h1 class="component-header">
    Deposit Funds
</h1>


<form action="{{ generate_url('payments.deposits.save') }}" class="form-horizontal" method="post" role="form" enctype="multipart/form-data">

    <section>

        <div class="col-sm-offset-1 col-sm-10">
            <div class="col-sm-4">
                <img class="img-responsive hidden-xs" src="{{ web_root }}applications/Withdraws/assets/images/wallet.png" align="left">
            </div>

            <div class="col-sm-8">
                <h3 class="text-blue">Deposit money to your wallet to be used on making payments.</h3>

                <div class="payment-statistics">

                    <div class="col-sm-12">
                        <div class="payment-statistic">
                            <div class="statistic-icon bg-aqua">
                                <i class="fa fa-money"></i>
                            </div>
                            <div class="statistic-info">
                                <span class="statistic-info-head">Account Balance</span>

                                <span class="statistic-info-number">
                                    <h3>{{ user.total|number_format(2) }}</h3>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <p class="col-sm-12">
                    <i>
                        <i class="fa fa-quote-left"></i>
                        {{ get_setting('payments_deposits_Instructions') }}
                        <i class="fa fa-quote-right"></i>
                    </i>
                </p>

                <div>
                    <div class="col-sm-6">
                        {{ forms.input('amount', 'text', item.title, 'Amount') }}
                    </div>

                    <div class="clearfix"></div>
                    <div class="text-center">
                        <a class="btn btn-danger btn-sm" href="{{ generate_url('payments.payments') }}" title='Cancel'>Cancel</a>

                        <button class="btn btn-success btn-sm" name="id" type="submit">
                            <i class="fa fa-send"></i>
                            {{ 'Deposit Fund'|upper }}
                        </button>

                    </div>
                </div>

            </div>
        </div>

    </section>

    {{ forms.input('_token' ) }} 

</form>


<style>

    input.domain:required:invalid, input.domain:focus:invalid{
        margin-top: 0;
    }

    .domain-instruction{
        margin: 5px;
    }

</style>