{# empty Twig template #}

{% import "form.macro.twig" as forms %}

{{ set_assets('applications/Hosting/assets/css/domain-wizard.css') }}
{{ set_assets('applications/Hosting/assets/js/domain-wizard.js') }}

{% set user = document.user %}
{% set description = 'Deposit money to you account. \n On ' ~ 'now'|date('d/m/Y H:i:s') %}

<h1 class="component-header">
    Deposit Money
</h1>


<form action="{{ generate_url('payments.deposits.save') }}" class="form-horizontal" method="post" role="form" enctype="multipart/form-data">

    <section>

        <div class="col-sm-offset-1 col-sm-10">

            <img class="img-responsive hidden-xs" src="{{ web_root }}assets/images/briefcase.png" align="left">

            <h3 class="text-blue">Deposit money to your wallet to be used on making payments.</h3>

            <i class="fa fa-arrow-right"></i> <span class="text-bold">This website requires user to deposit money first before performing any transactions.</span><br>
            <i class="fa fa-arrow-right"></i> <span class="text-bold">All payment transaction are then completed using the money that users have deposited.</span><br>


            <h5 class="text-blue text-uppercase">Deposit money Form</h5>

            <div>
                <div class="col-sm-6">
                    {{ forms.input('amount', 'text', item.title, 'Amount') }}
                    {{ forms.input('description', 'textarea', description, 'Description') }}
                </div>

                <div class="clearfix"></div>
                <div class="text-center">
                    <a class="btn btn-danger btn-sm" href="{{ generate_url('payments.payments') }}" title='Cancel'>Cancel</a>
                    <input class="btn btn-success btn-sm" name="id" type="submit" value="Save">
                </div>
            </div>

        </div>

    </section>

    {{ forms.input('_token' ) }} 

</form>


<style>

    input.domain:required:invalid, input.domain:focus:invalid{
        margin-top: 0;
    }

    .domain-instruction{
        margin: 5px;
    }

</style>