
{% import "form.macro.twig" as forms %}

<input type="hidden" name="order_id" value="{{ payment.id }}>" />
<input type="hidden" name="invoice" value="{{ payment.id }}" />
<input type="hidden" name="item_id" value="{{ payment.id }}">
<input type="hidden" name="total" value="{{ gateway.total_amount }}" />
<input type="hidden" name="email" value="{{ user.email }}" />

<div>
    <div class="col-sm-9">
        {{ forms.input('phone1', 'text', item.phone1, 'Phone Number') }}
    </div>
</div>
<div class="clearfix"></div>

<center>
    <a class="process-payment" href="#" title="Pay with Creditcard">
        <button class="btn btn-success btn-flat btn-sm" type="submit">
            <i class="fa fa-arrow-right"></i>
            Pay with Creditcard
        </button>
    </a>
</center>
