{# empty Twig template #}

{% import "form.macro.twig" as forms %}

{% set search = document.search %}

{% if view_side == 'frontend' %}
    <h1 class="component-header"> Transactions </h1>
{% endif %}

<a class="btn btn-primary btn-sm show-earning-summary-link">Earning Summary</a>

<div class="bg-grey show-earning-summary" style="display: none;">
    <b>Earning Summary</b>
    {% include "summary.earning.twig" ignore missing with {'subscriber': subscriber } %}
</div>
<div class="clr"></div>

<form id="{{ main_form_id }}" action="{{ generate_url('payments.transactions', params) }}" method="post" >

    <div class="col-sm-12">
        <div class="col-sm-2">
            <b>Type</b><br>
            {{ forms.input(' search.type', 'select', search.type, null, null, null, null, null, typesinput  ) }}
        </div>
        <div class="col-sm-3">
            <b>From</b><br>
            {{ forms.input(' search.from', 'text', search.from) }}
        </div>
        <div class="col-sm-4">
            <b>Date Range</b><br>
            <div class="date_created_start_wrapper">
                {{ forms.input(' search.date_created.start', 'datetime', search.date_created.start ) }}
            </div>
            <div class="date_created_end_wrapper">
                {{ forms.input(' search.date_created.end', 'datetime', search.date_created.end ) }}
            </div>
        </div>
        <div class="col-sm-3">
            <b></b><br>
            <button class="btn btn-success btn-sm" type="submit" name="submit">Search</button>
            <button class="btn btn-default btn-sm" type="submit" name="clear" value="clear">Clear</button>
        </div>
    </div>

    <div class="clearfix"></div>
    <br>

    <div class="table-responsive">
        <table class="table table-condensed table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th align="left">Description</th>
                    <th>Type</th>
                    <th>From</th>
                    <th>Date</th>
                    <th>Money In(USD)</th>
                    <th>Money Out(USD)</th>
                </tr>
            </thead> 
            <tbody>

                {% if items|length>0 %}

                    {% for item in items %}
                        <tr >
                            <td>{{ item.id }}</td>
                            <td>{{ item.description }}</td>
                            <td>{{ item.type }}</td>
                            <td>{{ item.trans_username }}</td>
                            <td>{{ item.date_created ? item.date_created|date('d M Y H:i:s',  document.timezone) }}</td>
                            <td align="right">{{ item.credit ? item.credit|number_format(2) }}</td>
                            <td align="right">{{ item.debit ? item.debit|number_format(2) }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>


    <div class="clearfix"></div>

    {% include "items.pagination.twig"%}

    {% include "form.hidden.twig" %}

    {{ forms.input('_token' ) }}

</form>

<style>
    .date_created_start_wrapper{
        width: 45% !important;
        float: left;
    }

    .date_created_end_wrapper{
        width: 45% !important;
        float: right;
    }
</style>

<script>
    jQuery(document).ready(function () {

        var earning_show_toggle = false;

        jQuery('.show-earning-summary-link').click(function () {
            if (earning_show_toggle) {
                jQuery('.show-earning-summary').hide();
                earning_show_toggle = false;
            } else {
                jQuery('.show-earning-summary').show();
                earning_show_toggle = true;
            }

            return false;
        });

    });
</script>
